<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firstpage.user">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.firstpage.user.Ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.LoginscreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ui.jobdetailstatustrackActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Ui.WorkboardActivity"
            android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ui.JobdetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Ui.Workboardsupervisor_Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".Ui.ExceptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ui.Exception_details"
            android:screenOrientation="portrait"/>

        <receiver android:name = ".Common.NetworkChangeReceiver">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>